<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="btn btn-outline-success" style="border: none" href="#whatIsNeolife">Mi a NeoLife?</a>
        <a class="btn btn-outline-success" style="border: none" href="#mission">Küldetésem</a>
        <a class="btn btn-outline-success" style="border: none" href="#products">Termékeink</a>
        <a class="btn btn-success" href="webshop">Webshop</a>
        <a class="btn btn-outline-success" href="cart">Kosár</a>
    </div>
</nav>
<div class="container-sm">
    <p style="text-align: center; padding-top: 25px; padding-right: 100px; padding-bottom: 50px; padding-left: 100px;">EGY GLOBÁLIS, <strong>ÉSZSÉGMEGŐRZÉS</strong>SEL FOGLALKOZÓ TÁRSASÁG VAGYUNK, AZ A CÉLUNK, HOGY A <strong>MINŐSÉGI ÉTREND</strong> ÉS ÉTREND-KIEGÉSZÍTÉS RÉVÉN MEGÁLLÍTSUK, VISSZAFORDÍTSUK A HELYTELEN, SZEGÉNYES ÉTKEZÉSI TRENDEKET.</p>
    <div class="row" style="text-align: center">
        <div class="col" >
            <h5>Hogyan alkotjuk meg a legjobb termékeket?</h5>
            <div class="row">
                <div class="col">
                    <img width=100 src="images/index/sab.png">
                    <p>Orvosok és tudósok dolgozzák ki</p>
                </div>
                <div class="col">
                    <img width=100 src="images/index/cell.png">
                    <p>Sejttáplálás teljes értékű összetevők felhasználásával</p>
                </div>        
                <div class="col">
                    <img width=100 src="images/index/ingredients.png">
                    <p>Kiváló minőségű alapanyagok</p>
                </div>        
                <div class="col">
                    <img width=100 src="images/index/efficiency.png">
                    <p>Klinikailag igazolt hatékonyság</p>
                </div>
                <div class="col">
                    <img width=100 src="images/index/standards.png">
                    <p>Magas szinvonalú sztenderdek a gyártás során</p>
                </div>
                <h5>
                    <a href="https://www.neolifeshop.hu/hu/web_quality_difference.cfm">Tudj meg többet a Neolife különbségről!</a>
                </h5>
            </div>
        </div>
        <div class="col">
            <iframe width="620" height="285" src="https://www.youtube.com/embed/3TbX2W8dtk4?controls=1&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<hr>
<h4 class="title" id="mission">Küldetésem</h4>
<hr>
<h4 class="title" id="products">Termékeink</h4>
<hr>
<div class="row" style="padding-top: 50px; padding-right: 30px; padding-bottom: 75px; padding-left: 80px;">
    <div class="col" style="text-align: right">
        <img height=250 src="images/nutritionals.jpg">
    </div>
    <div class="col">
        <h5 >ÉTREND-KIEGÉSZÍTŐK</h5>
        <P>A NeoLife étrend-kiegészítő termékcsalád kiváló minőségű, színvonalas teljes értékű alapanyagokat tartalmazó termékekből áll, melyek követik a természetes alapok, tudományos háttér elvét. NeoLife azt jelenti "új élet", jelképesen pedig azt a lehetőséget, hogy a termékek az energiával és vitalitással teli élethez szükséges tápanyagokat szolgáltatják.</P>
        <a href="products">Étrend-kiegészítők felfedezése</a>
    </div>
</div>
<div class="row" style="padding-top: 50px; padding-right: 30px; padding-bottom: 75px; padding-left: 80px;">
    <div class="col" style="text-align: right">
        <h5>TEST- ÉS BŐRÁPOLÓ TERMÉKEK</h5>
        <P>A Nutriance Organic egy tudományosan kidolgozott tengeri növény alapanyagú arcápoló termékcsalád, az alapanyagok egy védett bioszférából, a francia Bretagne tartomány részét képező Molène-szigetvilágból származnak, mely a rendkívül változatos tengeri algák sokaságáról és a tengervíz tisztaságáról híres. A Nutriance Organic termékeket szigorú minőségi sztenderdek figyelembevételével dolgozták ki, a COSMOS ORGANIC tanúsítványt az Ecocert állította ki.</P>
        <a href="products">Test- és bőrápoló termékek felfedezése</a>
    </div>
    <div class="col">
        <img height=250 src="images/skincare.jpg">
    </div>
</div>
<div class="row" style="padding-top: 50px; padding-right: 30px; padding-bottom: 75px; padding-left: 80px;">
    <div class="col" style="text-align: right">
        <img height=250 src="images/homecare.jpg" class="center">
    </div>
    <div class="col">
        <h5>HÁZTARTÁSI TISZTÍTÓSZEREK</h5>
        <P>Golden háztartási tisztítószereink a '60-as évek óta - még mielőtt divatos fogalommá vált volna - "ZÖLDEK". Biológiailag lebomló, környezet kímélő formulák. A különleges    technológiának köszönhetően, mely a "kisebb adag, alacsonyabb környezeti szennyezés" elven működik, a lehető legkevesebb termék használatával a lehető legoptimálisabb eredmény érhető el.</P>
        <a href="">Háztartási tisztítószerek felfedezése</a>
    </div>
</div>